body{
    margin: 0;
    background-image: url(img/ateezbg.jpg_medium);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}




/*main div*/
.info{
    background: rgba(0,0,0,0.5);
    grid-column: 1/ span 4;
    border-radius: 20px;
    margin: 15vh 5vh;
    padding: 3vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.1fr 2fr 0.1fr;

}


/* the two divs */
.best{
    background: rgba(0,0,0,0.5);
    grid-column: 1/ span 4;
    border-radius: 20px;
    margin: 5vh 0vh;
    border: 1px solid white;
    padding: 10px;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
}


.album_data{
    grid-column: 1/ span 4;
    grid-row: 1/ span 2;
}

/* titles & texts*/
header{
    color: white;
    font-size: 40px;
    padding-left: 15px; 
    }
    h1{
    margin-top: 1vh;
    font-family: Bungee shade;
    color: white;
    margin-left: 2vw;
    }
    h2 {
        font-family: Barlow semi condensed;
        color: white;
        margin-left: 2vw;

    }
    p{
        font-family: Barlow semi condensed;
        color: white;
        margin-left: 2vw;

    }
    ul.members{
        color: white;
        font-family: Barlow semi condensed;
    }

    /* buttons*/
nav{
    
    display: flex;
    gap: 0.5vw;
}

.button{
    flex-grow: 1;
    background: rgba(255,255,255,0.6);
    padding: 2vw 3vw;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    font-size: 2vw;
    align-self: flex-start;

    /* padding: 20px 25px; */
}

.bio{
    padding: 2.5vw 7vw;
}
 
nav div:hover{
    background-color: rgba(0,0,0,0.5);
    color: white;
}
   
.marked{
    border: 2px solid white;
    background: rgba(255,255,255,0.6);
    pointer-events: none;
    font-weight: bold;
}

/* image change -hover*/
.cover{
   grid-column: 5/7;
   position: relative;
   
}
 
 img.show_hover{
    position: absolute;
    opacity: 0;  
    transition: 1s;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 
.cover:hover img.show_hover{
    opacity: 1;
    border-radius: 15px 15px 0px 0px;
}
.show_not_hover{
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}


/* small divs*/
    .song_list{
        grid-column: 5/span 7;
        grid-row: 2;
        font-size: 14px;
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 18px;
        width: 95%;
        margin-bottom: 10px;
        margin-top: 12px;
        }
    
    .song_list .one{
        background-color:#0000a2;
        color: #000000;
        border-radius: 0px 0px 0px 20px;

    }
    
    .song_list .two{
        background:#0000a2;
        color: #000000;
        border-radius: 0px 0px 20px 0px;
        padding-top: 10px;
        
    }

    .song_list h2{
        color: #000000;
    }

    

    .anecdotes {
        font-size: 2vh;
        list-style: none;
        grid-row: 3;
        grid-column: 1/ span 7;
        grid-row: 3/4;
        gap: 10px;    
        padding: 0px 10px;
    
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 10px;
       
    }

    .anecdotes li{
        
        height: 25vw;

        display: flex;
        padding: 15px;

    }

   
    li.mv{
        color: #0000a2; 
        border-radius: 20px 0px 20px 20px;
        background-color: #000000;
        align-items: center;
    }

    .empty {
        grid-column: 2/ span 3;
        grid-row: 1;
        opacity: 0;
        width: 2vw;
    }

    
    li.treasure{
        color: #0000a2;
        border-radius: 20px 20px 20px 0px;
        background-color: #000000;
        align-items: center;
        width: 20vw;
        
    }
    
    li.atzimg{
        background-image: url(img/hongjoong.png);
        background-position: center;
        background-size: cover;
        border-radius: 0px 20px 20px 20px;
        color: #0000a2;

        align-items: end ;

    
    }
    
    li.million{
        color: #0000a2;
        border-radius: 20px 20px 0px 20px;
        background-color: #000000;
        align-items: center;
    }
    
    li.empty{
        grid-column: 2;
        grid-row: 1;
        height: 25vh;
    }
    
    
    .songs{
        color: #000000;
    }
    


    /* next album*/


.song_list2{
    grid-column: 5/span 7;
        grid-row: 2;
        font-size: 14px;
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 18px;
        width: 95%;
        margin-bottom: 10px;
        margin-top: 12px;

}

.song_list2 .one{
    background-color:#f76802;
    color: #000000;
    
    border-radius: 0px 0px 0px 20px;
}

.song_list2 .two{
    
    background-color:#f76802;
    color: #000000;
    padding: 2vh;
    border-radius: 0px 0px 20px 0px;
}
  
img.show_hover{
    position: absolute;
    opacity: 0;  
    transition: 1s;
    overflow: hidden;
    width: 316px;
    height: 316px;

}
 
.cover:hover img.show_hover{
    opacity: 1;
    border-radius: 15px 15px 0px 0px;
}
.show_not_hover{
    border-radius: 15px 15px 0px 0px;
    width: 316px;
    height: 316px;
}

ul.anecdotes2{
    list-style: none;
    grid-column: 1/ span 7;
        grid-row: 3/4;

    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr 0.5fr;
    column-gap: 10px;
    height: 25vw;
    
    margin-left: 0px;
    margin-right: 10px;
    font-size: 2vh;
    
}

li.billboard{
    background-color: #d1a7a5;
    color: #f76802;
    border-radius: 20px 20px 20px 0px;
    padding: 30px 15px 30px 15px;

    display: flex;
        justify-content: center;
        align-items: center;

}

li.physical{
    background-color: #d1a7a5;
    color: #f76802;
    border-radius: 0px 20px 20px 20px;
    padding: 30px 15px 30px 15px;
    
    grid-column: 4;
    grid-row: 1;

    display: flex;
        justify-content: center;
        align-items: center;


}

li.img2{
    background-color: #d1a7a5;
    color: #f76802;
    border-radius: 0px 20px 20px 20px ;
    

    background-image: url(img/atz-ep.jpg);
    background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        grid-column: 3;
        grid-row: 1;

        display: flex;
        justify-content:last baseline ;
        align-items:flex-end ;
        padding-bottom: 1em;
    
}

li.ep1{
    background-color: #d1a7a5;
    color: #f76802;
    border-radius: 20px 20px 0px 20px;
    padding: 30px 15px 30px 15px;

    grid-column: 2;
    grid-row: 1;   
    
    display: flex;
        justify-content: center;
        align-items: center;
}


footer{
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: 20px;
    color: white;
    grid-row: 4;
}


/* 800 px */
@media (max-width: 800px) {
    header{
        text-align: center;
    }

    .best{ 
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        padding: 15px;
        column-gap: 15px;
    
    }

    .cover{
        grid-column: 1/ 5;
        grid-row: 1;
        border-radius: 20px 0px 0px 20px;
        margin-right: 5vw;
    }

    .song_list{
        grid-column: 5/ span 6;
        grid-row: 1;
        
        display: flex;
        flex-direction: column;
        font-size: 14px;
        row-gap: 15px;
        margin-left: 2vw;

    }

    .song_list .one{
        border-radius: 0px 20px 0px 0px;
        flex-grow: 1;
    }

    .song_list .two{
        border-radius: 0px 0px 20px 0px;
        flex-grow: 1;
    }

    .album_data{
        grid-row: 2;
        grid-column: 1/ span 7;
        
    }

    ul.anecdotes {
        grid-column: 1/ span 6;
        grid-row: 3;
        
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        }

    li.treasure{
        grid-column: 3/ span 4 ;
        grid-row: 1;
        font-size: 13px;
        width: 90%;

    }

    li.atzimg{
        grid-column: 2;
        grid-row: 2;
        font-size: 13px;

    }

    li.million{
        grid-column:  3;
        grid-row: 2;
        font-size: 13px;
        
        

    }

    li.mv{
        
        padding: 20px;
        font-size: 13px;
    
    }

    .empty {
        grid-column: 3/ span 4;
        
    }


    .song_list2{
        grid-column: 5/ span 7;
        grid-row: 1;

        display: flex;
        flex-direction: column;
        row-gap: 1vw;
        font-size: 2.3vh;
        
  
    }

    .song_list2 .one{
        border-radius: 0px 20px 0px 0px;
        flex-grow: 1;

    }

    .song_list2 .two{
        border-radius: 0px 0px 20px 0px;
        flex-grow: 1;

    }

    .album_data{
        grid-column: 1/ span 3;
    }

    ul.anecdotes2{
        grid-column: 1/ span 8;
        grid-row: 3;
        
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 10px;
        row-gap: 10px;   
    
    }

    li.billboard{
        grid-column: 1/ span 2;
        grid-row: 1;
        border-radius: 20px 20px 20px 0px;
    }

    li.physical{

        grid-column: 3;
        grid-row: 1;
        
    }

    li.img2{
        grid-column: 2/ span 3;
        grid-row: 2;
        
        
    }

    .tablet_empty2{
        grid-column: 1;
        grid-row: 2;
    }


    li.ep1{
        grid-column: 4;
        grid-row: 2;
        border-radius: 0px 20px 20px 20px;
    }


    .tablet_empty1{
        grid-column: 4;
        grid-row: 1;
    }

   

}

/* 500px */

@media (max-width: 500px){
    .info{
        margin: 0;
    }
    .button{
        font-size: 15px;
        padding: 20px;
    }
    .best{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        /*
        display: grid;
        grid-template-rows: 0.5fr 0.5fr 0.2fr 0.2fr ;
        */
    }
    .cover{
        order: 1;
    }
    .song_list{
        order: 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .song_list .one{
        border-radius: 0px 0px 0px 20px;
    }
    .song_list.two{
        border-radius: 0px 20px 0px 20px;
    }
    .album_data{
        order: 3;
    }

    ul.anecdotes{
        order: 4;

        display: grid;
        grid-template-columns: 0.2fr 0.2fr 0.2fr;
        grid-template-rows: 1fr 1fr;

    }

    
    li.treasure{
        grid-column: 2/span 3 ;
        grid-row: 1;
        font-size: 2vh;

    }

    li.atzimg{
        grid-column: 2;
        grid-row: 2;
        font-size: 2vh;

    }

    li.million{
        grid-column: 3;
        grid-row: 2;
        font-size: 2vh;

    }

    li.mv{
        grid-column: 1;
        grid-row: 1;
    
        font-size: 2vh;
    
    }

    li.empty1{
        grid-column: 1;
        grid-row: 2;
    }

    li.empty_tablet_empty{
        grid-column: 4;
        grid-row: 2;
    }

    .song_list2{
        order: 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .song_list2 .one{
        border-radius: 0px 0px 0px 20px;
    }
     .song_list2 .two{
        border-radius: 0px 0px 20px 0px;
    }

    ul.anecdotes2{
        order: 4;
    }

}