body{
    margin: 5vh;
    
}

/* div1 */
.main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    
}

/*div2*/
.info{
    background: rgba(0,0,0,0.5);
    grid-column: 1/ span 4;
    border-radius: 20px;
    margin: 3vh;
    margin-top: 15vh;
}

.best {
    background: rgba(0,0,0,0.5);
    grid-column: 1/ span 4;
    border-radius: 20px;
    margin: 4vh;
    border: 1px solid white;

    display: grid;
    grid-template-columns: repeat(0.7fr 0.5fr 0.5fr);
}


.album_data{
    grid-column: 1/ span 2;
    grid-row: 1/ span 2;
}

/* titles & texts*/
header{
    color: white;
    font-size: 40px;
    padding-left: 15px; 
    }
    h1{
    margin-top: 1vh;
    font-family: Bungee shade;
    color: rgba(255,255,255,0.7);
    margin-left: 2vw;
    }
    h2 {
        font-family: Barlow semi condensed;
        color: white;
        margin-left: 2vw;

    }
    p{
        font-family: Barlow semi condensed;
        color: white;
        margin-left: 2vw;

    }
    ul.members{
        color: white;
    }

    /* buttons*/
nav{
    display: flex;
    gap: 0.5vw;
    margin-left: 40px;
    margin-right: 40px;
 
}
.button{
   flex-grow: 1;
    background: rgba(255,255,255,0.6);
    padding: 20px 25px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
}
 
nav div:hover{
    background-color: rgba(0,0,0,0.5);
    color: white;
}
   
.marked{
    border: 2px solid white;
    background: rgba(255,255,255,0.6);
    pointer-events: none;
    font-weight: bold;
}

/* image change -hover*/
.cover{
    width: 316px;
    height: 316px;
    border: 0px;
    margin: 10px 10px 0px 10px;
    grid-column: 3;
    grid-row: 1;
    
}
 
 img.show_hover{
    position: absolute;
    opacity: 0;  
    transition: 1s;
    overflow: hidden;
}
 
.cover:hover img.show_hover{
    opacity: 1;
    border-radius: 15px 15px 0px 0px;
}
.show_not_hover{
    border-radius: 15px 15px 0px 0px;
    width: 316px;
    height: 316px;}

/* small divs*/
    .song_list{
        grid-column: 3/4;
        grid-row: 2; 
    
        display: grid;
        grid-template-columns: 1fr 1fr;
    
        font-size: 14px;
        margin: 10px 10px 10px 10px;
        
    }
    
    .song_list .one{
        background-color:#0000a2;
        color: #000000;
        height: fit-content;
        margin-right: 5px;
        border-radius: 0px 0px 0px 20px;
    
    }
    
    .song_list .two{
        background:#0000a2;
        color: #000000;
        padding-top: 20px;
        margin-left: 5px;
        border-radius: 0px 0px 20px 0px;
    }

    ul.anecdotes{
        color: #0000a2;
        list-style: none;
        grid-row: 3;
        grid-column: 1/ span 3;
    
        display: grid;
        grid-template-columns: 0.2fr 0.2fr 0.3fr 0.2fr 0.2fr;
        column-gap: 10px;
        width: 80vw;
        
    
    }
    
    li.mv{
        grid-column: 1;
        grid-row: 1/ span 2;
        background-color: #000000;
        padding: 30px 10px 30px 10px;
        border-radius: 20px 0px 20px 20px;
        height: 25vh;
    }
    
    li.treasure{
        grid-column: 3;
        grid-row: 1/span 2;
        background-color: #000000;
        border-radius: 20px 20px 20px 0px;
        padding: 30px 10px 30px 10px; 
        height: 25vh;
        
    
    }
    
    li.atzimg{
        grid-column: 4;
        grid-row: 1/ span 2;
        background-color: #000000;
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 0px 20px 20px 20px;
        height: 25vh;
        
        background-image: url(hongjoong.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
    }
    
    li.million{
        grid-column: 5;
        grid-row: 1/ span 2;
        background-color: #000000;
        border-radius: 20px 20px 0px 20px;
        padding: 30px 10px 30px 10px;
        height: 25vh;
    }
    
    li.empty{
        grid-column: 2;
        grid-row: 1/span 2;
        height: 25vh;
    }
    
    
    .songs{
        color: #000000;
    }
    
    /* next album*/

.song_list2{
    grid-column: 3/4;
    grid-row: 2; 

    display: grid;
    grid-template-columns: 1fr 1fr;
    
    
    font-size: 13px;
    margin: 10px 10px 10px 10px;
}

.song_list2 .one{
    background-color:#f76802;
    color: #000000;
    height: fit-content;
    margin-right: 5px;
    border-radius: 0px 0px 0px 20px;
}

.song_list2 .two{
    padding-top: 13px;
    padding-bottom: 10px;
    background-color:#f76802;
    color: #000000;
    height: fit-content;
    margin-left: 5px;
    border-radius: 0px 0px 20px 0px;
}

.cover{
    width: 316px;
    height: 316px;
    border: 0px;
    margin: 10px 10px 0px 10px;
    grid-column: 3;
    grid-row: 1;
    
}
  
img.show_hover{
    position: absolute;
    opacity: 0;  
    transition: 1s;
    overflow: hidden;
}
 
.cover:hover img.show_hover{
    opacity: 1;
    border-radius: 15px 15px 0px 0px;
}
.show_not_hover{
    border-radius: 15px 15px 0px 0px;
    width: 316px;
    height: 316px;
}

ul.anecdotes2{
    list-style: none;
    grid-row: 3;
    grid-column: 1/ span 3;

    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.3fr 0.2fr 0.2fr;
    column-gap: 10px;
    width: 80vw;
    margin-left: 15px;
    margin-right: 15px;
    
}

li.billboard{
    background-color: #d1a7a5;
    color: #f76802;
    border-radius: 20px 20px 20px 0px;
    padding: 20px 10px 20px 10px;
}

li.physical{
    background-color: #d1a7a5;
    color: #f76802;
    border-radius: 0px 20px 20px 20px;
    padding: 20px 10px 20px 10px;

}

li.img2{
    background-color: #d1a7a5;
    color: #f76802;
    border-radius: 0px 20px 20px 20px ;
    padding: 20px 10px 20px 10px;

    background-image: url(atz-ep-small.png);
    background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

li.ep1{
    background-color: #d1a7a5;
    color: #f76802;
    border-radius: 20px 20px 0px 20px;
    padding: 20px 10px 20px 10px;
    
}

